<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @home.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @home.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @home.email %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
